@model Northwind.MvcWebUI.Models.ProductListViewModel
@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>

<html>
<head>
    <title>Title</title>
</head>
<body>
    <div>
        <table>
            <tr>
                <td>Product Name</td>
                <td>Unit Price</td>
                <td>Unit In Stock</td>
            </tr>
        </table>
    </div>
</body>
</html>
